<ion-content padding color="gradient">
	<form (ngSubmit)="onLogin()" class="mt-5">
		<ion-row>
			<ion-col text-center>
				<img src="./assets/img/flight.png" class="logo">
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-item>
					<ion-input required type="email" name="email" placeholder="Email" [(ngModel)]="login.email"></ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col >
				<ion-item>
					<ion-input required type="password" name="password" placeholder="Password" [(ngModel)]="login.password"></ion-input>
				</ion-item>			
			</ion-col>
		</ion-row>	
		<ion-row>
			<ion-col class="signup-col">
				<ion-button expand="block" color="success" type="submit">Log in</ion-button>
			</ion-col>
			<ion-col>
					<ion-button expand="block" color="primary">New Account</ion-button>
			</ion-col>
		</ion-row>
	</form>
</ion-content>
