<ion-header>
  <ion-toolbar>
    <ion-title>
      FlightStats 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 <h2> Welcome to FlightStats! </h2>
</ion-content>

<ion-tabs>
  <ion-tab label="Airports" icon="airplane" href="/home/(airport:airport)">
    <ion-router-outlet name="airport"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="About" icon="information-circle" href="/tabs/(about:about)">
    <ion-router-outlet name="about"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Favorite" icon="contacts" href="/tabs/(favorite:favorite)">
    <ion-router-outlet name="favorite"></ion-router-outlet>
  </ion-tab>
</ion-tabs>

